DATABASE_URL=postgresql+psycopg://rescuesync:rescuesync@localhost:5433/rescuesync
SECRET_KEY=cambia-esto-en-local
ACCESS_TOKEN_EXPIRE_MINUTES=480
BONITA_BASE_URL=http://localhost:8080/bonita
BONITA_USERNAME=operador.municipal
BONITA_PASSWORD=bpm
BONITA_PROCESS_NAME=RescueSync
BONITA_PROCESS_VERSION=1.0
CORS_ORIGINS=http://localhost:5173
